<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sigin</title>
</head>
<body>
    <form action="/user/signin" method="post">
        <label>username</label>
        <input type="text" required name="username" placeholder="username">
        <label>password</label>
        <input type="password" required name="password" placeholder="password">
        <button type="submit">signin</button>
    </form>
</body>
</html>